# BASICS OF CODING

In [8]:
import random
import pandas as pd
import numpy as np 
import seaborn as sns
from tensorflow import keras
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import preprocessing 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import PoissonRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

## 1: Using comments in Python

In [1]:
# Python comment Syntax

## 2: Executing commands in Python

In [2]:
print('hello there,General Kenobi')

hello there,General Kenobi

## 3: Importing packages Python

In [3]:
import random

print(random.randint(0, 100))

75

## 4: Getting data into Python

In [5]:
import pandas as pd
data = pd.read_csv("StudentsPerformance.csv")
print(data.head(15))

    gender race/ethnicity parental level of education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard

   test preparation course  math score  reading score  writing score  \
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52
11                    none          40             52             43
12                    none          65             81             73
13               completed          78             72             70
14                    none          50             53             58

    Total Marks in %
0          72.666667
1          82.333333
2          92.666667
3          49.333333
4          76.333333
5          77.333333
6          91.666667
7          40.666667
8          65.000000
9          49.333333
10         54.666667
11         45.000000
12         73.000000
13         73.333333
14         53.666667

## 5: Saving output in Python

In [ ]:
# import pickle as pk

# with open('../Data Science/Models/DSLabAss1.csv', 'wb') as f:
#     pk.dump(df, f)

## 6: Accessing records and variables in Python|

In [6]:
data['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64